<html>
	<head>
		<title>Servicemywheels</title>
		<link rel="stylesheet" href="/static/assets/demo.css">
	<link rel="stylesheet" href="/static/assets/dialog-alert.css">
		    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Rouge+Script' rel='stylesheet' type='text/css'>
			{% include 'headtags.html' %}
		<script src="/static/js/jquery-1.9.1.js"></script>
			<style type="text/css" media="screen">
				body{
					background-color: #ECEBEB;
					}

					.emltdp-common-error-form label.error{
				   margin-top: -12px;
                   display: block;
                     }
					}
			</style>
			<style type="text/css">
				.msg {
					padding: 15px;
					margin-bottom: 20px;
					border: 1px solid transparent;
					border-radius: 4px;
					color: #31708f;
					background-color: #d9edf7;
					border-color: #bce8f1;
				}

				.emltdp_error {
					padding: 15px;
					margin-bottom: 20px;
					border: 1px solid transparent;
					border-radius: 4px;
					color: #a94442;
					background-color: #f2dede;
					border-color: #ebccd1;
				}
			</style>
		</head>
		<body>
		{% include 'header.html' %}
			<div class="container emltdp-login-parent">
				<div class="row">
					<div class="col-xs-8 emltdp-login-form">
						<div class="row">
							<div class="col-xs-12">
								<h1>Reset Password</h1>
							</div>
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-6 emltdp-login-form-fields pull-left">
										<div class="row">
											<form  method="POST" id="user-password-reset" class="emltdp-common-error-form">
												 {% csrf_token %}
                                                 {% load bootstrap %}
												<div class="col-xs-12" style="display:block">
													<input type="text"  readonly name="customer_email" id="customer_email" value="{{customer_email}}" placeholder="User Name">
												</div>
												<div class="col-xs-12">
													<input type="password" id="new_password"  name="new_password" value="" placeholder="Enter New Password" text="New Password" />
												</div>
												<input type="hidden" id="epoch_time" value='{{epoch_time}}'>
												<div class="col-xs-12">
													<input type="button" id="update_password" name="" value="Reset Password" text="Submit">
												</div>
											</form>
										</div>
									</div>
									<div class="col-xs-5 emltdp-login-social pull-right">
										<div class="row">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div id="my-success-dialog" class="dialog-overlay" style="display:none;">

        <div class="dialog-card">

            <div class="dialog-success-sign"><i class="fa fa-check" style="margin-top: 12px;"></i></div>

            <div class="dialog-info">

                <h5>Password Changed Succesfully!</h5>
                <button class="dialog-confirm-button">OK</button>

            </div>

        </div>

    </div>
<div id="my-error-dialog" class="dialog-overlay" style="display:none;">

        <div class="dialog-card">

            <div class="dialog-error-sign"><i class="fa fa-exclamation" style="margin-top: 12px;"></i></div>

            <div class="dialog-info">

                <h5>This Url is not valid now!</h5>
                <button class="dialog-confirm-button">OK</button>

            </div>

        </div>

    </div>
			{% include 'footer.html' %}
			<!--<script src=/static/js/jquery-ui.min.js" />"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/send_otp.js"></script>
			<script type="text/javascript">
			   $(document).ready(function() {

            // We have two control functions that show or hide dialogs
			setTimeout(function(){
				$('.dialog-overlay').hide('blind',{},500)
			},3000);
        });


			</script>
        {% include 'footertags.html' %}
		</body>
	</html>