<div class="emltd-app-breadcrumb-container">
    <div class="container emltd-doctor-vitals-wrapper" id="emltd-doctor-vitals-container">
        <div class="row">
    		<div class="col-xs-6 emltd-doctor-vitals-left emltd-doctor-sh-2">
                <ul class="list-inline emltd-header-vitals-ul">
                    <li><a href="#">Profile</a></li>
                    <li><a id="emltdd-consutation" href="#">Consultation</a></li>
					<li><a href="#">Reports</a></li>
					<li><a href="#">Interactions</a></li>
				</ul>
			</div>
			<div class="col-sm-6 emltd-doctor-vitals-right">
				<ul class="list-inline emltd-header-vitals-right-ul">
					 <li class="dropdown service-my-wheels-vitals-control-wrap">
				          <a href="#" class="dropdown-toggle service-my-wheels-vitals-control" data-toggle="dropdown">
				          	Vitals List <span class="caret"></span>
				          </a>
				          <ul class="dropdown-menu service-my-wheels-vitals-level">
				            <li>
				            	<span class="service-my-wheels-vitals-level-title">Blood Pressure</span>
				            	<span class="service-my-wheels-vitals-level-tick"></span>
				            	<span class="clearfix"></span> 
				            </li>
				            <li>
				            	<span class="service-my-wheels-vitals-level-title">Temperature</span>
				            	<span class="service-my-wheels-vitals-level-tick"></span>
				            	<span class="clearfix"></span> 
				            </li>
				            <li>
				            	<span class="service-my-wheels-vitals-level-title">Cholestrol</span>
				            	<span class="service-my-wheels-vitals-level-tick"></span>
				            	<span class="clearfix"></span> 
				            </li>
				            <li>
				            	<span class="service-my-wheels-vitals-level-title">Blood Sugar</span>
				            	<span class="service-my-wheels-vitals-level-tick"></span>
				            	<span class="clearfix"></span> 
				            </li>
				            <li>
				            	<span class="service-my-wheels-vitals-level-title">Body Weight</span>
				            	<span class="service-my-wheels-vitals-level-tick"></span>
				            	<span class="clearfix"></span> 
				            </li>
				            <li>
				            	<span class="service-my-wheels-vitals-level-title">Pulse</span>
				            	<span class="service-my-wheels-vitals-level-tick"></span>
				            	<span class="clearfix"></span> 
				            </li>
				          </ul>
				        </li>
					<li>Savitri Devi</li>
					<li class="emltd-header-vitals-rt-dot">&bull;</li>	
					<li>(26F)</li>		
					<li class="emltd-header-vitals-rt-dot">&bull;</li>			
					<li>Arithritis Pain</li>
				</ul>	
			</div>
		</div>
	</div>
</div>	   