<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<style type="text/css" media="screen">

label.error{
color: red !important;
}
</style>

<div class="emltdp-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="list-inline emltdp-footer-links">
				  <li><a href="#">About us</a></li>
				  <li><a href="#">FAQ</a></li>
				  <li><a href="#">Privacy Policy</a></li>
				  <li><a href="#">Copyright</a></li>
				  <li><a href="#">Contact</a></li>
				  <li><a href="#">Gallery</a></li>
				  <li><a href="#">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!--[if lt IE 9]><script src="/static/js/es5-shim.min.js"></script><![endif]-->
<!--[if lt IE 9]><script src="/static/js/selectivizr-min.js"></script><![endif]-->

<!--<script src="/static/js/jquery.min.js" ></script>-->


<script src="/static/js/bootstrap.min.js" ></script>


<script src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript">
	</script>
