

<!doctype html>
    <head>
        <title>serviceMyWheels</title>
        <meta name ="description" content=""/>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <meta name = "keywords" content=""/>
        <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet"/>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>
        <link href="{{ STATIC_URL }}css/jquery.loadmask.css" rel="stylesheet"/>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.loadmask.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validity.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <link href="{{ STATIC_URL }}css/jquery.validity.css" rel="stylesheet"/>

        <link href="../css/ie-styles.css" rel="stylesheet"/>
    </head>
        <div class="bodyWrapper">
            <div class="popUpWrapper">

            <!--</div>-->
                </div>
            </div>
    {% include 'account_header.html' %}
