<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
		<div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
			<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<li class="start ">
					<a href="/website/booking">
					<i class="icon-home"></i>
					<span class="title">Home</span>
					</a>
				</li>


                    <li>
						<a href="/dashboard/myprofile">
							<i class="icon-folder"></i>
							<span class="title">My Profile</span>
						</a>
                    </li>

			<!-- Start of Vehicle Tab  -->

                    <li style="display:none">
					<a href="/dashboard/myaddress">
					<i class="icon-user"></i>
					<span class="title">My Address</span>
					</a>
				</li>
            <!-- End of Vehicle Tab  -->
			<!-- Start of Orders Tab  -->

                    <li>
						<a href="/dashboard/myorder">
							<i class="icon-docs"></i>
							<span class="title">My Orders</span>
						</a>
					</li>
            <!-- End of orders Tab  -->

			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->