<!DOCTYPE html>
<html>
<body>
<p>Enter One Type Password (OTP)</p>
{% if customer_registered_mobile_number %}
<p>One Time Password(OTP) has been sent to your mobile '{{customer_registered_mobile_number}}', please enter it here to verify your mobile.</p>
{% endif %}
{% csrf_token %}
<input type="text" id = "one_time_password" placeholder="OTP" value="">
<br>
<button id= "re_send_otp">Resend OTP</button>
<br><br>
<input type="text" id ="new_password" placeholder="Enter New Password" value="">
<button id= "change_password">Change Password</button>
<p>Or you can click on the link sent on your email '{{customer_email_id}}',</p>
<p>Please write to us at customercare@servicemywheels.com for further assistance</p>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/send_otp.js"></script>
</html>